<h1>Home</h1>

<container>
        <div>
            <p> <a href="/harwaretrigger"> Hardware System Trigger </a></p>
            <p> <a href="/addpoint"> Add Data Point </a> </p>
            <p> <a href="/editpoint"> Edit Data Point </a> </p>
            <p> <a href="/history"> History </a> </p>
        </div>
</container>
