<!DOCTYPE html>
<html>
<head>
  
  <title>PFAHMS</title>
  <link href="/app/assets/stylesheet/bootstrap.min.css" rel="stylesheet">
  <link href="/app/assets/stylesheet/custom.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <h1>Pet Nanny</h1>
  <%= yield %>
</div>
</body>
</html>
